* {
  padding: 0; margin: 0;
}

* p {
  margin: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 190px;
  background: #7E8494 url('../Images/Logo2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  margin-left: 0.5%;
  width: 99%;
  height: auto;
  border-bottom: 1px solid #000;
  background-color: #2F3531;
}

.menu-bar a {
  text-decoration: none;
  color: #7D8494;
  font-family: 'Ubuntu', sans-serif;
  transition: 500ms ease;
  font-size: 1.3em;
}

.menu-bar a:hover {
  font-size: 1.5em;
  border-radius: 10px;
  transition: 500ms ease;
  margin: 2px;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: auto;
  color: #2F3531/* #ADC0C3*/;
  margin: 2%;
  font-family: 'Oswald', sans-serif;
  border-style: outset;
}

.content h1 {
  display: flex;
  justify-content: center;
  color: #2F3531;
}

.footer {
  position: absolute;
  display: flex;
  width: 100%;
  color: #ADC0C3;
  margin-top: 5px;
  bottom: 0;
  background-color: #000;
  font-family: 'Oswald', sans-serif;
}

/*          Index         */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;

}

.each {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
  border-style: inset;
  margin: 2%;
  width: 280px;
  height: 120px;
  transition: 1s ease;
}

.each h3, p {
  margin: 5%;
}

.each:hover {
  border-style: outset;
}

/*          REVIW CONTAINER           */

.content-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  margin: 1%;
}

.review-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1%;
  width: 98%;
  height: 250px;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
  width: 33%;
  height: 220px;
  border-radius: 5px;
  border-style: groove;
  box-shadow: 10px 10px 5px grey;
}

.to-show {
  display: flex;
  flex-direction: row;
}

.image {
  margin:1%;
}

.title {
  margin: 1%;
}

.info-review {
  margin: 2%;
}

.image img {
  width: 125px;
}

.to-hidden {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.to-hidden img {
  width: 60px;
}

.hide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
