<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../Public/css/Stylesheet.css">
    <title>Create Review</title>
  </head>

  <body>
    <div class="headers">

    </div>

    <nav class="menu-bar">
      <a href="Index.html"> REVIEWS </a>
      <a href="Phones.php"> PHONES </a>
      <a href="Android.php"> ANDROID </a>
      <a href="Ios.php"> iOS </a>
      <a href="Login.php"> LOGIN </a>
      <a href="About.php"> GSM Lin </a>
    </nav>

<!---         CONTENIDO         --->

    <div class="content-create">
      <h2>CREATING REVIEW</h2>
    </div>
  </body>
</html>
