* {
  padding: 0; margin: 0;
}

* p {
  margin: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 190px;
  background: #7E8494 url('../Images/Logo2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  margin-left: 0.5%;
  width: 99%;
  height: auto;
  border-bottom: 1px solid #000;
  border-radius: 5px;
  background-color: #2F3531;
}

.menu-bar a {
  text-decoration: none;
  color: #7D8494;
  font-family: 'Ubuntu', sans-serif;
  transition: 500ms ease;
  font-size: 1.3em;
}

.menu-bar a:hover {
  font-size: 1.5em;
  border-radius: 10px;
  transition: 500ms ease;
  margin: 2px;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: auto;
  color: #2F3531/* #ADC0C3*/;
  margin: 2%;
  font-family: 'Oswald', sans-serif;
}

.content h1 {
  display: flex;
  justify-content: center;
  color: #2F3531;
}

.footer {
  position: absolute;
  display: flex;
  width: 100%;
  color: #ADC0C3;
  margin-top: 5px;
  bottom: 0;
  background-color: #000;
  font-family: 'Oswald', sans-serif;
}

/*          Index         */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;

}

.each {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
  border-style: inset;
  margin: 2%;
  width: 280px;
  height: 120px;
  transition: 1s ease;
}

.each h3, p {
  margin: 5%;
}

.each:hover {
  border-style: outset;
}

/*          REVIW CONTAINER           */

.content-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  margin: 1%;
}

.review {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1%;
  margin-top: 1%;
  width: 75%;
  height: 220px;
  border-radius: 5px;
  border-style: groove;
  box-shadow: 10px 10px 5px grey;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.review:hover > .to-hidden {
  display: flex;
}

.to-show {
  display: flex;
  flex-direction: row;
  margin: 5%;
}

.image {
  margin:1%;
}

.title {
  margin: 1%;
}

.info-review {
  margin: 2%;
}

.image img {
  width: 125px;
}

.to-hidden {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 45%;
  -webkit-transition: all 5s ease-out;
  -moz-transition: all  5s ease-out;
  -o-transition: all  5s ease-out;
  transition: all  5s ease-out;
}

.to-hidden img {
  width: 60px;
}

.hide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.create-button {
  display: flex;
  justify-content: flex-start;
  width: 75%;
  margin: 1%;
  margin-bottom: 0%;
}

.create-button img {
  width: 75px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.create-button img:hover {
  width: 85px;
}

/*          CREATE REVIEWS          */

.content-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
}

.content-create h2 {
  font-size: 2em;
  margin: 2%;
}

.form-review {
  width: 100%;
}

.title-phone {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 98%;
  font-size: 1.2em;
}

.photo-phone {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.photo-phone h4 {
  margin-right: 1%;
}

.review-device {
  display: flex;
  flex-direction: row;
}

.review-device h4 {
  margin-right: 5px;
}

.review-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-review {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.text-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-review textarea {
  margin: 2%;
  width: 75%;
}

.text-review input {
  margin-bottom: 2%;
}

.infos {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

/*          Preview             */

.preview-content {
  display: flex;

  margin: 2%;
  width: 98%;
}

#phoneimg {
  display: flex;
  justify-content: flex-start;
  margin: 2%;
}

.preview-info {
  display: flex;
  flex-direction: column;
  margin: 2%;
  }

.preview-info h3 {
  margin: 2%;
}

/*          PHONES          */

.content-device {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 98%;
}

.device {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
  padding: 1%;
  width: 40%;
  height: 240px;
  border-radius: 5px;
  border-style: groove;
  box-shadow: 10px 10px 5px grey;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.device-hidden {
  display: none;

}

.device-hidden img {
  width: 60px;
}

.device:hover > .device-hidden {
  display: flex;
}

/*         CREATE PHONES          */

.create-device h1 {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.create-device {
  display: flex;
  flex-direction: column;
  margin: 2%;
  width: 98%;
}

.inputs-devices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
}

.text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.text-area textarea {
  width: 75%;
}

.text-area input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 2%;
}

/*         VIEW PHONES          */

.view-device {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
  width: 50%;
  border-radius: 5px;
  border-style: groove;
  box-shadow: 10px 10px 5px grey;
}

.view-device h1, h2, h3 {
  margin: 2%;
}

.view-device p {
  margin-top: 1%;
}

/*         LOGIN          */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  width: 98%;
}

.login h1 {
  margin-bottom: 2%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border-style: groove;
  box-shadow: 10px 10px 5px grey;
  width: 50%;
  height: 280px;
}

.login-form input {
  width: 50%;
  margin-bottom: 5%;
}

#submit {
  width: 25%;
}
